<article>
    <h1>Comments:</h1>
    <div class="espai"></div>
    <ul>
        <li>
            <div class="nameDate">
                <h2>Katy</h2>
                <p>25/04/2019 15:26</p>
            </div>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illum dolores culpa est, accusantium,
                praesentium vel recusandae cupiditate rem, quibusdam nobis provident.</p>
        </li>

        <li>
            <div class="nameDate">
                <h2>Salomon</h2>
                <p>25/04/2019 17:26</p>
            </div>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illum dolores culpa est, accusantium,
                praesentium vel recusandae cupiditate rem, quibusdam nobis provident.</p>
        </li>

        <li>
            <div class="nameDate">
                <h2>Bondary</h2>
                <p>26/04/2019 16:26</p>
            </div>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illum dolores culpa est, accusantium,
                praesentium vel recusandae cupiditate rem, quibusdam nobis provident.</p>
        </li>
    </ul>

    <div class="comentaris">
        <h3>Add your comment</h3>
        <div class="espai"></div>

        <form action="">
            <label for="">Name: </label>
            <input type="text">

            <label for="">Description: </label>
            <textarea name="" rows="6"></textarea>

        </form>

        <button>Submit</button>

    </div>
</article>